.blogslist{
    display: flex;
    justify-content: center;
    gap:1.35rem;

    .bloglist-text{
        span{
            color:rgba(0, 0, 0, 0.5);
            padding-bottom:10px
        }
        p{
            font-size:1.7vw;
            font-weight: 400;
            color:rgba(0, 0, 0, 1);
        }
    }
}

@media screen and (max-width:1024px) {
    .blogslist{
        padding-bottom: 20px;


        .bloglist-img{
            max-width: 230px;
            img{
                max-width: 230px;
                width:100%;
            }
        }
    }
    
}

@media screen and (max-width:565px) {
    .blogslist{


        .bloglist-img{
            max-width: 300px;
            img{
                max-width: 300px;
                width:110%;
            }
        }
    }
    
}


@media screen and (max-width:378px) {
    .blogslist{

        .bloglist-text{
            span{
                font-size: 4vw;
            }
        }
    }
    
}