.blogslist{
    display: flex;
    justify-content: center;
    gap:1.35rem;

    .bloglist-img{
        max-width: 230px;
        img{
            max-width: 230px;
            width:100%;
        }
    }

    .bloglist-text{
        span{
            color:rgba(0, 0, 0, 0.5);
            padding-bottom:10px
        }
        p{
            font-size:1.7vw;
            font-weight: 400;
            color:rgba(0, 0, 0, 1);
        }
    }
}

@media screen and (max-width:1024px) {
    .blogslist{
        padding-bottom: 20px;
    }
    
}