.header{
    background:linear-gradient(169.94deg, rgba(8, 141, 216, 0.7) 8.34%, rgba(146, 222, 255, 0.7) 71.11%);
    height:770px;
    padding-left: 2.5rem;

    .header-container{
        background: url(../assets/building1.png) no-repeat bottom right;
        width:100%;
        height:770px;
        padding-top:7rem;
        color:rgba(0, 0, 0, 1);
        background-size: contain;

        .discover{
            font-weight: 600;
            // line-height: 5rem;
            font-size: 5vw;
            width:70%;
            padding-bottom: 5%;
        }
        .connect{
            font-size: 2vw;
            // line-height: 2rem;
            width:60%;
            padding-bottom: 7%;
        }
    }
}



@media screen and (max-width:565px) {
    .header{
        height:auto;

        .header-container{
            height:100vw;


            .discover{
                font-size: 6vw;
            }
            .connect{
                font-size: 3vw;
            }
        }
    }
}