@mixin flex {
    display: flex;
    justify-content: space-between;
}
@mixin inline {
    padding-inline: 2.5rem;

}
.navbar{
    padding-top: 1.25rem;
    padding-bottom: 0.75rem;
    @include inline;
    @include flex;
    align-items: center;
    .navbar-links{
        max-width: 20rem;
        width:100%;
        ul{
        @include flex;
            li{
                list-style-type: none;
            }
        }

    }
    .btn{
        .button{
            background-color: #01001A;
            color:#fff;
            @include inline ;
            padding-block:1rem;
            border-radius: 20px;
        }
    }
}