.work-section{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 100px;
}

@media screen and (max-width:1024px) {
    .work-section{
        margin-bottom: 80px;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}
