.work-section-sub{
   display: flex;
   gap:1.5rem;
  .work-section-icons{
    background-color:rgba(1, 0, 26, 1);
    border-radius: 12px;
    max-width: 60px;
    width:80%;
    padding:14px 14px 10px 14px;
    img{
        max-width:32px;
        width:80%;
    }
 }
 .testimony{
    display: flex;
    flex-direction: column;
    justify-content: center;
      
    p:nth-child(2){
        font-size: 12px;
        white-space: nowrap;
    }
 }
}